{% extends 'blog/base.html' %}  <!-- Adjust based on your base template -->

{% block content %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Edit Comment</legend>
            <div class="form-group">
                <textarea class="form-control" name="body" rows="3">{{ comment.body }}</textarea>
            </div>
        </fieldset>
        <div class="form-group mt-3">
            <button class="btn btn-outline-info" type="submit">Update</button>
            <a class="btn btn-outline-secondary" href="{% url 'post-detail' comment.post.pk %}">Cancel</a>
        </div>
    </form>
</div>
{% endblock content %}