{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% load static %}

{% block content %}
<style>
    .btn-google {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #545454;
        background-color: #ffffff;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        width: 100%;
        text-align: center;
        font-weight: bold;
        box-shadow: 0 1px 2px 1px #ddd;
    }

    .btn-google img {
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }

    .or-container {
        align-items: center;
        color: #ccc;
        display: flex;
        margin: 25px 0;
    }

    .line-separator {
        background-color: #ccc;
        flex-grow: 5;
        height: 1px;
    }

    .or-label {
        flex-grow: 1;
        margin: 0 15px;
        text-align: center;
    }
</style>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="text-center mb-4">Login</h2>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button class="btn btn-primary btn-block" type="submit">Login</button>
                    </form>

                    <!-- OR Divider -->
                    <div class="or-container">
                        <div class="line-separator"></div>
                        <div class="or-label">OR</div>
                        <div class="line-separator"></div>
                    </div>

                    <!-- Google Sign-In Button -->
                    <a href="{% provider_login_url 'google' %}" class="btn-google">
                        <img src="{% static 'images/google_logo.png' %}" alt="Google Logo">
                        Sign in with Google
                    </a>

                    <div class="border-top pt-3 text-center">
                        <small class="text-muted">
                            Need An Account? <a href="{% url 'register' %}">Sign Up Now</a>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
