{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% block title %}Register{% endblock %}

{% block content %}

<style>
.btn-google {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    color: #757575;
    box-shadow: 0 1px 2px 1px #ddd;
    padding: 10px;
    width: 100%;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    transition: background 0.3s ease-in-out, box-shadow 0.3s;
}

.btn-google img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.btn-google:hover {
    background-color: #f8f9fa;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.or-container {
    align-items: center;
    color: #ccc;
    display: flex;
    margin: 25px 0;
}

.line-separator {
    background-color: #ccc;
    flex-grow: 5;
    height: 1px;
}

.or-label {
    flex-grow: 1;
    margin: 0 15px;
    text-align: center;
    font-weight: bold;
}
</style>

<div class="m-auto col-md-8">
    <div class="content-section">
        <h3 class="border-bottom pb-3 mb-4">Join Today</h3>
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form|crispy }}
                <script src="https://www.google.com/recaptcha/api.js"></script>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Sign Up</button>
            </div>
        </form>

        <!-- Google Sign-In Button -->
        <div class="or-container">
            <div class="line-separator"></div>
            <div class="or-label">OR</div>
            <div class="line-separator"></div>
        </div>
        <div class="form-group">
            {% load static %}
<div class="form-group">
    <a href="{% provider_login_url 'google' %}" class="btn-google">
        <img src="{% static 'images/google_logo.png' %}" alt="Google Logo">
        Sign Up with Google
    </a>
</div>
        </div>

        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have an Account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
            </small>
        </div>
    </div>
</div>

{% endblock %}
